if theme.duoshuo
    .ds-thread(data-thread-key=page.path, data-title=page.title, data-url=page.permalink, data-author-key='1')

    script.
        (function () {
            var a = window.location.pathname;
            console.log(a);
        })()

if theme.disqus
    #disqus_thread