<div class="duoshuo" id="comments">
    <!--PC版-->
    <div id="SOHUCS" sid="<%= page.title %>"></div>
    <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
    <script type="text/javascript">
        window.changyan.api.config({
            appid: 'cysUlawDy',
            conf: 'prod_ddcd691fcfae1733641a989fc3b829a7'
        });
    </script>
</div>
