<div id="container"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script>
    var gitalk = new Gitalk({
        clientID: '9772f6a6fdb199a60ba1',
        clientSecret: '9a606af21688d2d4ff2efa2467ee82e76e1e9865',
        repo: 'Comment',
        owner: 'xiaomoblog',
        admin: ['xiaomoblog']
    })
    gitalk.render('container')
</script>